@charset "UTF-8";

/* Breakpoints
================================================== */
$breakpoints: (
  'sm': 480px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1200px,
  'xxl': 1440px,
) !default;


/* Color
================================================== */
// Palette
$white: #ffffff;
$gray-100: #fafafa;
$gray-200: #e0e0e0;
$gray-300: #dddddd;
$gray-400: #cccccc;
$gray-500: #bbbbbb;
$gray-600: #aaaaaa;
$gray-700: #555555;
$gray-800: #444444;
$gray-900: #333333;
$black: #222222;
$yellow: #fff100;

// Background
$base-color-primary: $white;
$base-color-secondary: $gray-200;
$base-color-dark-primary: $black;
$accent-color-primary: $black;
$accent-color-secondary: $yellow;

// Text
$text-color-primary: $black;
$text-color-secondary: $white;
$text-color-dark-primary: $gray-300;


// -------------------------------------------
// Typeface Settings
// -------------------------------------------
$font-base: 'Shippori Mincho', sans-serif;

$font-marcellus: 'Marcellus', sans-serif;

// Transition
$base-transition: background .15s ease-out, color .15s ease-out, transform .15s ease-out, opacity .15s ease-out, top .15s ease-out, right .15s ease-out, bottom .15s ease-out, left .15s ease-out, visibility .15s ease-out, filter .15s ease-out;